[submodule "todo-frontend"]
    path = todo-frontend
	url = https://github.com/ntxtung/todo-frontend
[submodule "todo-api-gateway"]
    path = todo-api-gateway
	url = https://github.com/ntxtung/todo-api-gateway.git
[submodule "todo-event-bus"]
    path = todo-event-bus
	url = https://github.com/ntxtung/todo-event-bus.git
[submodule "todo-board"]
    path = todo-board
	url = https://github.com/ntxtung/todo-board.git